<nav class="header__inline-menu active">
  <div class="js-drawer-open-desktop-nav small-hide">
      <button type="button" class="" aria-mega="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14.333" viewBox="0 0 21 14.333">
        <g id="Icon_feather-menu" data-name="Icon feather-menu" transform="translate(-4 -8.5)">
        <path id="Path_13" data-name="Path 13" d="M4.5,18h20" transform="translate(0 -2.333)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
        <path id="Path_14" data-name="Path 14" d="M4.5,9h20" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
        <path id="Path_15" data-name="Path 15" d="M4.5,27h20" transform="translate(0 -4.667)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
        </g>
      </svg>
    </button>
  </div>
  <ul class="list-menu list-menu--inline" role="list">
    {% for block in section.blocks %}  
        <li>
          <a href="{{ block.settings.link }}">
            {{ block.settings.title }}
          </a>
          {% case block.type %}
            {% when 'link-4linklists' %}
              {% if block.settings.links_1.size > 0 %}
                <div class="menu-subs menu-mega menu-column-4">
                  <div class="dropdown-content"> 
                    {% for i in (1..1) %}
                    {% capture list %}links_{{ i }}{% endcapture %}
                    {%- assign list = block.settings[list] -%}
                    {% if list != blank %}
                    <div class="sub_list-item inner__column__item">
                      <h3>{{ block.settings.links_1.title }}</h3>
                      <ul>
                        {% for link in linklists[list].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>  
                        {% endfor %}            
                      </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% if block.settings.select_image1 != blank %}
                      <div class="sub_list-item inner__column__item featured_img">
                        <div class="featured_2up_content">
                          <a href="{{ block.settings.link1 }}">
                            {% if block.settings.imgtitle1 != blank %}
                              <img loading="lazy" src="{{ block.settings.select_image1 | image_url:width:500 }}" alt="{{ block.settings.select_image1.alt }}" width="" height="">
                            {% endif %}   
                            {% if block.settings.imgtitle1 != blank %}
                              <h3>{{ block.settings.imgtitle1 }}</h3>
                            {% endif %}   
                          </a>
                        </div>
                        <div class="featured_2up_content">
                          <a href="{{ block.settings.link2 }}">
                            {% if block.settings.select_image2 != blank %}
                              <img loading="lazy" src="{{ block.settings.select_image2 | image_url:width:500 }}" alt="{{ block.settings.select_image2.alt }}" width="" height="">
                            {% endif %}     
                            {% if block.settings.imgtitle2 != blank %}
                              <h3>{{ block.settings.imgtitle2 }}</h3>
                            {% endif %}   
                           </a>
                        </div>
                      </div>
                    {% endif %}  
                  </div>
                </div>  
              {% endif %}
          {% endcase %}    
        </li>
    {% endfor %}  
  </ul>
</nav>